.slider {
    position: relative;
    height: 100%;
}

.left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1px;
    font-size: 60px;
    margin-left: 5px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1px;
    font-size: 60px;
    margin-right: 5px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.slides-container-overflow {
  overflow: hidden;
  height: 100%;
}

.slides-container {
  display: flex;
  height: 100%;
  transition: transform ease-out 0.2s;
}

.slide {
  display: flex;
  height: 100%;
  transition: transform ease-out 0.2s;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: rgb(255, 248, 233);
}
